@import 'vars';
@import '../css/reset';

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto-regular.eot);
  src: url(../fonts/roboto-regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/roboto-regular.svg#roboto-regular) format('svg'),
       url(../fonts/roboto-regular.ttf) format('truetype'),
       url(../fonts/roboto-regular.woff) format('woff'),
       url(../fonts/roboto-regular.woff2) format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto-medium.eot);
  src: url(../fonts/roboto-medium.eot?#iefix) format('embedded-opentype'),
       url(../fonts/roboto-medium.svg#roboto-medium) format('svg'),
       url(../fonts/roboto-medium.ttf) format('truetype'),
       url(../fonts/roboto-medium.woff) format('woff'),
       url(../fonts/roboto-medium.woff2) format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Delius Unicase';
  src: url(../fonts/deliusunicase-regular.eot);
  src: url(../fonts/deliusunicase-regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/deliusunicase-regular.svg#deliusunicase-regular) format('svg'),
       url(../fonts/deliusunicase-regular.ttf) format('truetype'),
       url(../fonts/deliusunicase-regular.woff) format('woff'),
       url(../fonts/deliusunicase-regular.woff2) format('woff2');
  font-weight: 500;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

*, ::before, ::after {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

h2.title {
  font-family: 'Delius Unicase', cursive;
  font-size: 2.25em;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: 0.05em;
  color: $colorBlack;
  text-align: center;
  text-transform: uppercase;
  padding: 3.333333em 0 2.222222em;
}

.gallery {
  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 23.125em);
    gap: 1.875em;
  }
  .item {
    position: relative;
    border-radius: 1.125em;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(360deg, #241F24 0%, rgba(91, 91, 91, 0.447552) 34.11%, rgba(187, 186, 192, 0.26) 62.5%);
      border-radius: 1.125em;
      transition: background-color 0.1s ease-in;
    }
  
    &:hover {
      &::after {
        background: linear-gradient(360deg, #241F24 1.04%, rgba(91, 91, 91, 0.26) 6.99%, rgba(187, 186, 192, 0) 12.29%);
      }
      .top {
        opacity: 1;
        left: 0;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1.125em;
    }
    .top {
      position: absolute;
      z-index: 2;
      top: 1.125em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 1.125em;
      opacity: 0;
      left: -9999px;
      transition: opacity 0.1s ease-in;
      .btn {
        padding: 0;
        border: none;
        border-radius: 0.25em;
        background-color: rgba(224, 224, 224, 0.5);
        width: 2.5em;
        height: 2.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.1s ease-in;
        left: -9999px;
        &:hover {
          background-color: #E0E0E0;
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.25em;
      padding: 0 1.125em;
      position: absolute;
      bottom: 1.125em;
      z-index: 2;
      width: 100%;
      line-height: 1.15;
      span {
        font-size: 1.25em;
        font-weight: 500;
        color: $colorWhite;
      }
      time {
        font-size: 1.25em;
        color: $colorLightGray;
      }
    }
  }
  &_architectural {
    .item {
      &:nth-child(1) {
        grid-column: 1/2;
      }
      &:nth-child(2) {
        grid-column: 2/4;
      }
      &:nth-child(3) {
        grid-column: 1/3;
      }
      &:nth-child(4) {
        grid-column: 3/4;
      }
      &:nth-child(5) {
        grid-column: 1/2;
      }
      &:nth-child(6) {
        grid-column: 2/4;
      }
    }
  }
  &_still_life {
    .items {
      grid-template-rows: 23.125em 46.25em 23.125em;
    }
    .item {
      &:nth-child(1) {
        grid-column: 1/2;
      }
      &:nth-child(2) {
        grid-column: 2/4;
      }
      &:nth-child(3) {
        grid-column: 1/3;
      }
      &:nth-child(4) {
        grid-column: 3/4;
      }
      &:nth-child(5) {
        grid-column: 1/3;
      }
      &:nth-child(6) {
        grid-column: 3/4;
      }
    }
  }
  &_portrait_fashion {
    padding-bottom: 7.5em;
    .items {
      grid-template-rows: repeat(5, 23.125em);
    }
    .item {
      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/3;
      }
      &:nth-child(3) {
        grid-column: 3/4;
        grid-row: 1/2;
      }
      &:nth-child(4) {
        grid-column: 1/2;
        grid-row: 2/3;
      }
      &:nth-child(5) {
        grid-column: 3/4;
        grid-row: 2/4;
      }
      &:nth-child(6) {
        grid-column: 1/2;
        grid-row: 3/5;
      }
      &:nth-child(7) {
        grid-column: 2/3;
        grid-row: 3/4;
      }
      &:nth-child(8) {
        grid-column: 2/4;
        grid-row: 4/5;
      }
      &:nth-child(9) {
        grid-column: 1/3;
        grid-row: 5/6;
      }
      &:nth-child(10) {
        grid-column: 3/4;
        grid-row: 5/6;
      }
    }
  }
}