@import "vars";

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4.375em;
  padding: 4.375em 0 1.875em;
  &:before {
    @include border(0, auto);
  }
  &__nav {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas:  'our_up resources legal contacts'
                            'our_up resources legal social';
      gap: 0.9375em;
    }
    nav:not(.footer__nav--social) {
      display: flex;
      flex-direction: column;
      gap: 0.9375em;
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.9375em;
        a {
          color: rgba($color: $colorWhite, $alpha: 0.6);
          &:hover {
            color: $colorLinkHover;
          }
        }
      }
    }
    h6 {
      font-size: 1em;
      font-weight: 500;
    }
    &--our_up {
      grid-area: our_up;
    }
    &--resources {
      grid-area: resources;
    }
    &--legal {
      grid-area: legal;
    }
    &--contacts {
      grid-area: contacts;
    }
    &--social {
      grid-area: social;
      ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.25em;
        a {
          &:before {
            font-size: 1.375em;
          }
          &.icon_facebook:before {
            color: #3b5999;
          }
          &.icon_instagram:before {
            color: #ff55a5;
          }
          &.icon_twitter:before {
            color: #1da1f2;
          }
        }
      }
    }
  }
  &__bottom {
    padding-top: 1.875em;
    border-top: 1px solid rgba($color: $colorWhite, $alpha: 0.06);
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
      color: rgba($color: $colorWhite, $alpha: 0.6);
    }
    &--copyright {
      font-size: 0.875em;
    }
    &--info {
      ul {
        display: flex;
        gap: 1.875em;
        a {
          font-size: 0.875em;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .footer {
    &__nav {
      .wrapper {
        grid-template-columns: 206px 200px;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:  "our_up resources"
                              "legal contacts"
                              "legal social";
        max-width: 27.375em;
        gap: 1em 3em;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    &__bottom {
      .wrapper {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .footer {
    &__nav {
      .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2.5em;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .footer {
    &__bottom {
      .wrapper {
        gap: 1.5em;
        text-align: center;
      }
      &--info {
        ul {
          flex-direction: column;
          align-items: center;
          gap: 1em;
        }
      }
    }
  }
}
