@import "vars";

.similar {
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-color: $backgroundHeader;
  min-height: 100px;
  padding-bottom: 4.375em;
  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    display: block;
    background: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    box-shadow: 0 0 20px 0 rgba(255,88,96,0.5);
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
  h2 {
    color: #fff;
    font-size: 2em;
    font-weight: 300;
    line-height: 1;
    margin: 0.9375em 0 1.375em;
  }
  &__movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2.1em 1.875em;
    &--movie {
      max-width: 14.75em;
      a {
        color: $colorWhite;
      }
      .poster_img {
        position: relative;
        width: 100%;
        height: 22.1875em;
        &:before {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: linear-gradient(90deg, $colorLinkHover 0%, $colorPink 100%);
          z-index: 2;
          opacity: 0;
          transition: 0.2s ease-in;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .icon_play {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3.5em;
          height: 3.5em;
          border: 0.125em solid #fff;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: 0.2s ease-in;
          z-index: 2;
          &:before {
            position: relative;
            font-size: 1.625em;
            left: 0.077em;
            color: $colorWhite;
          }
        }
        &:hover {
          &:before {
            opacity: 0.6;
          }
          .icon_play {
            opacity: 1;
          }
        }
      }
      h3 {
        color: inherit;
        font-size: 1em;
        font-weight: 400;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-wrap: break-word;
        margin-top: 0.5em;
        line-height: 1.5;
      }
      .genre_list {
        font-size: 0.875em;
        margin-top: 0.18em;
        line-height: 1.5;
        position: relative;
        background-image: -webkit-linear-gradient(0deg, $colorLinkHover 0%, $colorPink 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: $colorPink;
        opacity: 0.8;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-wrap: break-word;
      }
      .icon_star {
        font-size: 1em;
        font-weight: 500;
        margin-top: 0.1563em;
        display: flex;
        align-items: center;
        gap: 0.25em;
        line-height: 1.5;
        &:before {
          color: $colorLinkHover;
        }
      }
    }
  }
}
