@import 'vars';
@import 'mixins';

.use_cases {
  padding-bottom: $sectionPadding;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.125em;
    max-width: 1000px;
  }

  &__tablet {
    position: relative;
    border: 1px solid $colorLightGrey;
    border-radius: 2em;
    padding: 1.9375em 1.875em;
    padding-right: 4.375em;

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 50%;
      border: 1px solid $colorLightGrey;
      top: 50%;
      transform: translateY(-50%);
    }

    &:before {
      width: 0.8125em;
      height: 0.8125em;
      left: 0.5em;
    }

    &:after {
      width: 2.1875em;
      height: 2.1875em;
      right: 0.875em;
    }

    &--content {
      position: relative;
      padding-top: 62.1%;

      &::before {
        content: '';
        display: block;
        width: 100%;
      }
    }

    .youtube {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0.5em;
      background-size: cover;
      border: 1px solid $colorLightGrey;
    }

    &--play {
      position: absolute;
      display: block;
      width: 7.5em;
      height: 7.5em;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;

      svg {
        display: block;
        width: 100%;
        height: 100%;
        --colorPlayBack: #586291;
        --colorPlayTriangle: #262A3F;
      }
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 1.25em;

    p {
      @include text;
    }
  }
}

.layout__dark {
  .use_cases__tablet,
  .use_cases__tablet:before,
  .use_cases__tablet:after,
  .use_cases__tablet .youtube {
    border-color: $colorBorderDark;
  }

  .use_cases__tablet--play svg {
    --colorPlayBack: #689FF2;
    --colorPlayTriangle: #689FF2;
  }
}

@media screen and (max-width: $widthTablet) {
  .use_cases__tablet {
    font-size: 0.875em;
  }

  .use_cases__desc {

    .title {
      font-size: 2.406em;
    }
  }
}

@media screen and (max-width: $widthMobileM) {
  .use_cases__tablet {
    font-size: 0.75em;
  }

  .use_cases__desc {

    .title {
      font-size: 1.72em;
    }
  }
}

@media screen and (max-width: $widthMobileL) {
  .use_cases__tablet {
    font-size: 0.625em;
  }
}

@media screen and (max-width: $widthMobileLBig) {
  .use_cases {
    padding-bottom: 3.5em;
  }
}

@media screen and (max-width: $widthMobileS) {
  .use_cases__tablet {
    font-size: 0.5em;
  }
}
