$colorMain: #262A3F;
$colorMainDark: #fff;
$colorOrange: #F1897B;
$colorOrangeHover: #E54F3A;
$colorOrangeDark: #53F3CD;
$colorOrangeDarkHover: #02E0AB;
$colorGreen: #85BBB1;
$colorGreenDark: #689ff2;
$colorLightGrey: #E4E4E4;
$colorBorderDark: #515773;
$colorBackDark: #161926;

$transition: 0.1s ease;
$sectionPadding: 7.5em;

$widthContent: 1200px;
$widthLaptop: 1024px;
$widthTablet: 768px;
$widthMobileM: 600px;
$widthMobileLBig: 479px;
$widthMobileL: 425px;
$widthMobileS: 359px;
