@font-face {
  font-family: 'Montserrat';
  src: url(../../fonts/montserrat-regular.eot);
  src: url(../../fonts/montserrat-regular.eot?#iefix) format('embedded-opentype'),
  url(../../fonts/montserrat-regular.svg#montserrat-regular) format('svg'),
  url(../../fonts/montserrat-regular.ttf) format('truetype'),
  url(../../fonts/montserrat-regular.woff) format('woff'),
  url(../../fonts/montserrat-regular.woff2) format('woff2');
  font-weight: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(../../fonts/montserrat-medium.eot);
  src: url(../../fonts/montserrat-medium.eot?#iefix) format('embedded-opentype'),
  url(../../fonts/montserrat-medium.svg#montserrat-medium) format('svg'),
  url(../../fonts/montserrat-medium.ttf) format('truetype'),
  url(../../fonts/montserrat-medium.woff) format('woff'),
  url(../../fonts/montserrat-medium.woff2) format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Montserrat';
  src: url(../../fonts/montserrat-semibold.eot);
  src: url(../../fonts/montserrat-semibold.eot?#iefix) format('embedded-opentype'),
  url(../../fonts/montserrat-semibold.svg#montserrat-semibold) format('svg'),
  url(../../fonts/montserrat-semibold.ttf) format('truetype'),
  url(../../fonts/montserrat-semibold.woff) format('woff'),
  url(../../fonts/montserrat-semibold.woff2) format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: url(../../fonts/montserrat-bold.eot);
  src: url(../../fonts/montserrat-bold.eot?#iefix) format('embedded-opentype'),
  url(../../fonts/montserrat-bold.svg#montserrat-bold) format('svg'),
  url(../../fonts/montserrat-bold.ttf) format('truetype'),
  url(../../fonts/montserrat-bold.woff) format('woff'),
  url(../../fonts/montserrat-bold.woff2) format('woff2');
  font-weight: bold;
}