@import 'reset';
@import 'vars';
@import 'icon-fonts';
@import 'fonts';
@import 'sidebar';
@import 'header';
@import 'main';

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #E5E5E5;
  background-color: #fff;
  font-weight: 400;
}

.layout {
  display: grid;
  grid-template-columns: 86px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:  'sidebar header'
                        'sidebar main';
  gap: 68px 0;
  min-height: 100vh;
  transition: 0.1s ease;
  max-width: 1440px;
  margin: 0 auto;

  &__active {
    grid-template-columns: 220px 1fr;
  }
}

.btn__icon {
  padding: 0;
  background-color: unset;
  border: unset;
  font-size: 26px;
  color: $colorGrayDark;
  transition: 0.1s ease;

  &:hover {
    color: $colorPurpleLight;
  }
}