$colorWhite: #fff;
$colorBlack: #000;
$colorDarkBlue: #2c4058;
$colorBlue: #55b7ff;
$colorViolet: #7e5aff;

$transition: 0.1s ease-in;
$linkImg: '../img';

$fontMontserrat: 'Montserrat', sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;
$fontSourceSansPro: 'Source Sans Pro', sans-serif;
