$colorWhite: #fff;
$colorBlack: #000;
$colorDarkBlue: #2c4058;
$colorBlue: #55b7ff;
$colorViolet: #7e5aff;
$colorPlaceholder: #4B5562;

$transition: 0.1s ease-in;
$linkImg: '../img';
$headerGradient: linear-gradient(251.06deg, $colorViolet -2.19%, $colorBlue 103.21%);

$fontMontserrat: 'Montserrat', sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;
$fontSourceSansPro: 'Source Sans Pro', sans-serif;
