$colorBackWhite: #E5E5E5;
$colorBackGray: #4A4F56;
$colorBackDarkGray: #3B3F45;
$colorBackLightViolet: #88839E;
$colorBackViolet: #7A7593;
$colorBackDarkViolet: #625E77;
$colorDelViolet: #9B96AC;
$colorWhite: #ffffff;
$colorRed: #FF8984;

