@import "vars";

.contacts {
  &__wrapper {
    display: grid;
    grid-template-columns: 0.59fr 1fr;
    column-gap: 6.875em;
    padding: 4.375em 15px;
  }
  &__info {
    color: $colorText;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    h2 {
      font-size: 2.25em;
      font-weight: 300;
      line-height: 1.38;
      color: $colorWhite;
    }
    p {
      font-size: 1.125em;
      font-weight: 400;
      line-height: 1.5;
    }
    &--tel_email {
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.75em;
        a {
          font-size: 1.125em;
          line-height: 1.5;
        }
      }
    }
    &--social {
      ul {
        display: flex;
        align-items: center;
        gap: 1.25em;
        a {
          font-size: 1.25em;
          line-height: 1.5;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .contacts {
    &__wrapper {
      grid-template-columns: 1fr;
      row-gap: 3em;
    }
    &__info, &__form {
      max-width: 550px;
      width: 100%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 600px) {
  .contacts__form {
    grid-template-columns: 1fr;
    grid-template-areas:'name'
                        'email'
                        'subject'
                        'message'
                        'submit';
    padding: 1.875em 1em;
  }
}

@media screen and (max-width: 359px) {
  .contacts {
    font-size: 0.9em;
    &__form {
      padding: 1.5em 1em;
    }
  }
}
