@import "vars";

.privacy_policy {
  font-size: 1em;
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.125em;
    line-height: 1.5;
    color: $colorText;
    padding: 4.375em 15px;
    a {
      color: $colorLinkHover;
      transition: 0.2s ease-in;
      &:hover {
        color: $colorPink;
      }
    }
    ol {
      list-style-type: none;
      counter-reset: item;
      margin: 0;
      padding: 0;
      li {
        display: table;
        counter-increment: item;
        margin-bottom: 0.6em;
        &:before {
          content: counters(item, ".") ". ";
          display: table-cell;
          padding-right: 0.6em;
        }
        & ol > li {
          margin: 0;
          &:before {
            content: counters(item, ".") " ";
          }
        }
      }

    }
    strong {
      font-size: 1.25em;
      font-weight: 500;
      color: $colorWhite;
    }
    em {
      font-style: italic;
    }
  }
}

@media screen and (max-width: 425px) {
  .privacy_policy {
    font-size: 0.889em;
    .wrapper {
      padding: 3.125em 15px;
    }
  }
}

@media screen and (max-width: 359px) {
  .privacy_policy {
    font-size: 0.778em;
    .wrapper {
      padding: 2.5em 15px;
    }
  }
}
