@import "vars";

.search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.75em;
  background-color: $backgroundHeader;
  box-shadow: 0 0.3125em 1.5625em 0 rgba($color: $colorBlack, $alpha: .3);
  border-top: 1px solid rgba($color: $colorWhite, $alpha: .05);
  z-index: 99;
  transition: 0.2s ease-in;
  .wrapper {
    height: 100%;
  }
  .search_form {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 1em;
  }
  input {
    &[name="search"] {
      width: 100%;
      height: 100%;
      background-color: $backgroundSearch;
      border: 1px solid transparent;
      outline: none;
      padding: 0 130px 0 20px;
      color: rgba($color: $colorWhite, $alpha: 1);
      font-size: 1.125em;
      letter-spacing: 1px;
      transition: 0.2s ease-in;
      outline: none;
      &::placeholder {
        color: rgba($color: $colorWhite, $alpha: 0.7);
      }
      &:focus {
        border-color: rgba($color: $colorWhite, $alpha: 0.15);
      }
    }
    &[type="submit"] {
      position: absolute;
      right: 1.67em;
      height: 3.33em;
      width: 7.5em;
      top: 0.83em;
      border: none;
      border-radius: 0.33em;
      background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
      box-shadow: 0 0 1.67em 0 rgba(255,88,96,0.5);
      opacity: .85;
      font-size: 0.75em;
      color: #fff;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.05em;
      cursor: pointer;
      transition: 0.2s ease-in;
      &:hover {
        color: #fff;
        opacity: 1;
      }
    }
  }
}

header.active {
  & + main {
    .search {
      top: 3.75em;
    }
  }
}

@media screen and (max-width: 600px) {
  .search {
    font-size: 0.8em;
    .wrapper {
      padding-left: 0;
      padding-right: 0;
    }
  }
  header.active + main .search {
    top: calc(3.75em * 1.2);
  }
}
