@import 'vars';
@import 'fonts';
@import 'iconfonts';

*, :before, :after {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  background-color: $backgroundHeader;
  color: $colorWhite;
}

.wrapper {
  @include wrapper();
}

main {
  padding-top: 60px;
}

a {
  transition: 0.2s ease-in;
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $colorLinkHover;
  }
}
