@import 'vars';
@import 'fonts';
@import 'iconfonts';

*, :before, :after {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

.wrapper {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    max-width: 960px;
  }
  @media screen and (max-width: 992px) {
    max-width: 720px;
  }
  @media screen and (max-width: 768px) {
    max-width: 540px;
  }
}

main {
  padding-top: 60px;
}
