@import "vars";

.tv_seasons {
  .tv_season {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    padding-bottom: 4.375em;
    h2 {
      font-size: 1.8em;
      font-weight: 300;
      line-height: 1.19;
      letter-spacing: 1.5px;
      color: #fff;
    }
    &__block {
      display: flex;
      align-items: center;
      gap: 1.25em;
      padding-right: 1.25em;
      border: 1px solid $colorText;
      border-radius: 0.375em;
      overflow: hidden;
      img {
        max-width: 8.125em;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    &__info {
      color: $colorText;
      h3 {
        font-size: 1.3em;
        font-weight: 500;
        color: $colorWhite;
        line-height: 1.5;
        display: flex;
        gap: 0.5em;
        a {
          color: inherit;
          text-decoration: none;
        }
        span {
          font-size: 0.9em;
          font-weight: 400;
          display: inline-flex;
          align-items: center;
          gap: 0.25em;
          &:before {
            color: $colorLinkHover;
            font-size: 0.8em;
          }
        }
      }
      h4 {
        font-size: 1.15em;
        font-weight: 400;
      }
      &--desc {
        margin-top: 1.75em;
        line-height: 1.4;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .tv_seasons {
    .tv_season {
      &__block {
        padding: 15px;
        img {
          display: none;
        }
      }
      &__info {
        &--desc {
          margin-top: 1em;
        }
      }
    }
  }
}
