@font-face {
  font-family: 'Open Sans';
  src: url(../../fonts/opensans-bold.eot);
  src: url(../../fonts/opensans-bold.eot?#iefix) format('embedded-opentype'),
       url(../../fonts/opensans-bold.svg#opensans-bold) format('svg'),
       url(../../fonts/opensans-bold.ttf) format('truetype'),
       url(../../fonts/opensans-bold.woff) format('woff'),
       url(../../fonts/opensans-bold.woff2) format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/roboto-black.eot);
  src: url(../../fonts/roboto-black.eot?#iefix) format('embedded-opentype'),
       url(../../fonts/roboto-black.svg#roboto-black) format('svg'),
       url(../../fonts/roboto-black.ttf) format('truetype'),
       url(../../fonts/roboto-black.woff) format('woff'),
       url(../../fonts/roboto-black.woff2) format('woff2');
  font-weight: 900;
}
@font-face {
  font-family: 'Raleway';
  src: url(../../fonts/raleway-regular.eot);
  src: url(../../fonts/raleway-regular.eot?#iefix) format('embedded-opentype'),
       url(../../fonts/raleway-regular.svg#raleway-regular) format('svg'),
       url(../../fonts/raleway-regular.ttf) format('truetype'),
       url(../../fonts/raleway-regular.woff) format('woff'),
       url(../../fonts/raleway-regular.woff2) format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Raleway';
  src: url(../../fonts/raleway-medium.eot);
  src: url(../../fonts/raleway-medium.eot?#iefix) format('embedded-opentype'),
       url(../../fonts/raleway-medium.svg#raleway-medium) format('svg'),
       url(../../fonts/raleway-medium.ttf) format('truetype'),
       url(../../fonts/raleway-medium.woff) format('woff'),
       url(../../fonts/raleway-medium.woff2) format('woff2');
  font-weight: 500;
}
