$colorSubText: #898F8F;
$colorGold: #FFCC00;
$colorGray: #666;
$colorText: #333;
$widthWrapper: 1060px;
$fontBtn: 'Open Sans', sans-serif;
$fontText: 'Raleway', sans-serif;
$fontTitle: 'Roboto', sans-serif;